# Environment configuration file

# VirusTotal API Key
VIRUSTOTAL_API_KEY=<add your VirusTotal API Key here>

# AbuseIPDB API Key
ABUSEIPDB_API_KEY=<add your AbuseIPDB API Key here>

# Other API keys can be added here
SOME_OTHER_API_KEY=your_other_api_key_here